<div title="Assign brand">
    <select name="brands">
        <option value="-1" disabled="disabled" selected="selected">select brand</option>
        {{each brands}}
        <option value="${name}">${name}</option>
        {{/each}}
    </select>
    <input name="newbrand" type="text" placeholder="or create new" />
    {{if app.products.totalCount}}
    <hr />
    <label>
        <input type="checkbox" name="applyToAll"> Apply to all ${app.products.totalCount} products
    </label>
    {{/if}}
</div>