<td><input type="checkbox" value="<%= id %>" <% if (this.model.get('checked')) {%>checked="checked"<% }%> ></td>
<td class="editable" data-prop="name">
    <a href="javascript:;" title="Click to open editor" class="tpopup" data-url="<%= $('#website_url').val() %>plugin/shopping/run/product#edit/${id}"><%= name %></a>
</td>
<td><%= brand %></td>
<td class="editable" data-prop="sku"><%= sku %></td>
<td class="editable" data-prop="mpn"><%= mpn %></td>
<td class="editable" data-prop="weight"><%= weight %></td>
<td class="editable" data-prop="price"><%= price %></td>
<td class="textcentered">
<% if (this.model.has('stats')) {%>
    <% if (stats.length) {%>
    Total: <%= _.reduce(_.pluck(stats, 'count'), function(m, n){ return m+parseInt(n)}, 0) %>
    <ul>
    <% _.each(stats, function(stat) { %> <li><strong><%= stat.status %></strong>: <%= stat.count %></li> <% }); %>
    </ul>
    <% } else {%>
    n/a
    <% } %>
<% } else { %>
<img src="<%= $('#website_url').val() %>/system/images/ajax-loader-small.gif" alt="loading" />
<% } %>
</td>