<div title="Manage tags">
    <div class="clearfix">
        {{each tags}}
        <div style="float:left; margin: 0 5px;">
            <label class="{{if (used[name] && used[name] < prodCount)}}partial{{/if}}">
                <input class="tags {{if (used[name] && used[name] < prodCount)}}partial{{/if}}" type="checkbox" name="${name}" id="" value="${id}" {{if used[name]}}checked="checked"{{/if}} >
                ${name}
            </label>
        </div>
        {{/each}}
    </div>
    {{if app.products.totalRecords}}
    <hr />
    <label>
        <input type="checkbox" name="applyToAll"> Apply to all ${app.products.totalRecords} products
    </label>
    {{/if}}
</div>
        