<div class="header-inner mt15px">
    <div class="grid_4"><%=_.isUndefined(i18n['Title'])?'Title':i18n['Title']%></div>
    <div class="grid_3 alpha"><%=_.isUndefined(i18n['Price modifier'])?'Price modifier':i18n['Price modifier']%></div>
    <div class="grid_3"><%=_.isUndefined(i18n['Weight modifier'])?'Weight modifier':i18n['Weight modifier']%></div>
    <div class="grid_1 alpha omega text-center"><%=_.isUndefined(i18n['Default'])?'Default':i18n['Default']%></div>
    <div class="grid_1"></div>
</div>
<div class="option-list-holder grid_12 alpha omega"></div>
<a class="add-selection-btn grid_12 alpha omega mt20px btn success ticon-plus" href="javascript:;"><%=_.isUndefined(i18n['Add new selection'])?'Add new selection':i18n['Add new selection']%></a>