<div class="paginator <%= cssClass %>" data-collection="<%= collection %>">
    <% if (_.isUndefined(pages)) { var pages = 5; } %>
        <% if (firstPage != currentPage) { %>
            <a href="#" class="page" data-page="first"><%=_.isUndefined(i18n['First'])?'First':i18n['First']%></a>
        <% } else { %>
            <span><%=_.isUndefined(i18n['First'])?'First':i18n['First']%></span>
        <% } %>
        <% if (currentPage > firstPage) { %>
            <a href="#" class="page" data-page="prev"><%=_.isUndefined(i18n['Previous'])?'Previous':i18n['Previous']%></a>
        <% } %>
        <% if (currentPage - pages > firstPage) { %>
            <span>...</span>
        <% } %>

        <% for (var p = currentPage - pages; p <= currentPage + pages; p++) { %>
        <% if (p < firstPage || p > lastPage) continue; %>
        <% if (currentPage == p) { %>
            <span class="page selected"><%= p %></span>
        <% } else { %>
            <a href="#" class="page" data-page="<%= p %>"><%= p %></a>
        <% } %>
    <% } %>

    <% if (currentPage + pages < lastPage) { %>
        <span>...</span>
    <% } %>

    <% if (currentPage < totalPages) { %>
        <a href="#" class="page" data-page="next"><%=_.isUndefined(i18n['Next'])?'Next':i18n['Next']%></a>
    <% } %>

    <% if (lastPage != currentPage) { %>
        <a href="#" class="page" data-page="last"><%=_.isUndefined(i18n['Last'])?'Last':i18n['Last']%></a>
    <% } else { %>
        <span><%=_.isUndefined(i18n['Last'])?'Last':i18n['Last']%></span>
    <% } %>
</div>