.ui-effects-transfer {
	border: 2px dotted #778899;
}
/* paginated block styles */
.paginator {
	background-color: white;
	box-shadow: 0 -2px 4px -3px #7c7c7c;
	text-align: right;
}
.paginator > *{
	padding: 5px;
	display: inline-block;
}
*+html .paginator > *{
	display: inline;
}
.paginator a.page{
	color: #cd5c5c;
	opacity: 0.75;
}
.paginator a.page:hover,
.paginator a.page.current {
    opacity: 1;
}

.paginator a.page span{

}

.seotoaster #manage-product {
	font-size: 11pt;
}
div.box {
	display: inline-block;
	background-color: white;
	margin: 3px 0;
	padding: 5px 5px 0;
	cursor: pointer;
	border: 1px solid whiteSmoke;
	height: auto;
}
div.box:hover {
	box-shadow: 0 0 3px lightseagreen;
}
.product-tags .tag-widget {
    background: url("/system/images/bg-strip.png") repeat scroll 0 0 transparent;
    border: 2px solid white;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #5C5C5C;
    float: left;
    font-weight: normal;
    margin: 3px 6px 3px 0;
    padding: 5px 4px 4px;
    width: 23%;
	height:18px;
}
.product-tags .tag-widget span {
	cursor: pointer;
}
.product-tags .tag-widget span.tag-editable {
	float: left;
	margin-left: 2%;
	width: 81%;
	white-space: nowrap;
	overflow: hidden;
	line-height: 1.2em;
}
.product-tags .tag-widget input {
	float: left;
	margin-top: 2px;
	margin-left: 1px;
}

.product-tags .tag-widget .ui-icon-closethick {
    float: right;
    margin: 0 0 0 3px;
}

.tag-widget span.ui-icon {
	display: inline-block;
	border-radius: 4px;
	cursor:pointer;
	vertical-align: bottom;
}
.tag-widget .tag-editable {
	vertical-align:top;
}
.tag-widget span.ui-icon:hover, .ui-widget.ui-button.item-remove:hover .ui-icon {
	background-image: url("/system/uithemes/seotoasterui/images/ui-icons_cd0a0a_256x240.png");
}
#options-holder .option-content .option-modifier-select {
	width: 50px;
}
#massaction::before {
	content: '[ '
}#massaction::after {
	content: ' ]'
}
#product-image-holder {
	height: 130px;
	width: 191px;
	background: white;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #BDE6F1;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
#product-image-holder img { max-height: 130px; max-width: 190px; height:auto; width:auto; }
a.nav-links.first {
	margin-left: 175px;
}
a.nav-links {
	color:#e7e7e7;
	font-weight: normal;
	line-height:24px;
}
a.nav-links:hover {
	border-bottom: 1px solid #E7E7E7;
}
a.nav-links.first {
    margin-left: 50px;
}
a.nav-links {
    color: #E7E7E7;
    font-weight: bold;
    line-height: 24px;
}
div.productlisting {
	width: 11%;
	border: 1px solid #fff;
	height: 140px;
	margin: 3px 5px;
	float: left;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 4px #bbbbbb;
	-moz-box-shadow: 0 0 4px #bbbbbb;
	-webkit-box-shadow: 0 0 4px #bbbbbb;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;
	background: #fff;
	font-size: 9pt;
}
div.productlisting img{
	max-height: 80px;
}
div.productlisting input.marker {
	position: absolute;
	bottom: 0;
	left: 0;
}
p.brand {
	padding: 2px 0;
	background-color: lavender;
	margin-bottom: 1px;
}
p.sku{
	text-align: right;
	font-size: 8pt;
	border-top: 1px dotted #eee;
	padding: 4px 0;
	margin-top: 4px;
	color: #7C7C7C;
	position: absolute;
	bottom: 0;
	right: 2px;
	width: 100%;
	height: 8pt;
	overflow: hidden;
	background-color:#fff;
}
.add-selection-btn {
	float: right;
	font-size: 10pt;
}
.add-selection-btn .ui-button-text {
	padding: 5px 10px 4px;
}
.add-selection-btn .ui-icon {display:none;}
input#delete {
	padding: 3px 16px 4px !important;
	display: none;
	float: left;
	margin-left: 5px;
}
#manage-product>.ui-tabs-nav li.ui-tabs-selected, #manage-product>.ui-tabs-panel {
	background: #DAE8ED;
}
#short-description-tab, #full-description-tab {
	padding: 6px 5px !important;
	border: 1px solid #DDDDDD;
	border-top-width: 0;
	text-align: center;
}

.highlight {
	border: 1px solid #cd5c5c !important;
}
#manage-product > .ui-tabs-panel {
	height: 420px;
}
#manage-product .ui-tabs-panel {
	padding: 10px 0;
}
#options-holder > div.option-wrapper {
	padding: 7px 0 0;
	color: #444;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	background: #81AAC3;
	width: 918px;
}
#options-holder .option-content {
	background: #fff;
	color: #444;
	overflow: hidden;
}
#options-holder .option-content .ui-widget-header {
	background: #EFEFEF;
	color: #666;
	font-size: 9pt;
	padding:4px;
	border: none;
}
#options-holder input[type="text"], #options-holder textarea {
	padding: 3px 0 3px 3px;
	font-size:9pt;
}
#options-holder select {
	padding: 2px 0 2px 3px;
	font-size:9pt;
}
.ui-widget.ui-button.remove-option, .ui-widget.ui-button.item-remove {
	background: none;
	border:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	min-width: 10px;
	overflow: visible;
}
.ui-widget.ui-button.remove-option {
	background: #49738b;
	float: right;
	height: 36px;
	margin: -6px -13px;
	width: 36px;
}
.ui-widget.ui-button.remove-option:hover {
	background: #3d6075;
}
.ui-widget.ui-button.remove-option span.ui-icon {
	background-image: url("/system/uithemes/seotoasterui/images/ui-icons_ffffff_256x240.png");
}
#image-list {
	height: 450px !important;
}
#image-list-dialog div.paginator {
	position: absolute;
	bottom: 0;
	width: 98%;
	margin: 0 1%;
}
#ajax_msg {
	line-height: 50px;
	position: absolute;
	top: 30%;
	left:0;
	width: 100%;
	z-index: 5000;
}
.ui-autocomplete {
	max-height: 180px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 5px;
	background: url("/system/images/bg-strip.png");
	box-shadow: rgb(153, 153, 153) 0px 4px 10px;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 100px;
}
.ui-autocomplete .ui-menu-item {
	cursor: pointer;
}
#product-list div.paginator {
	position: absolute;
	bottom: 5px;
	height: 20px;
	padding: 0;
	padding-top: 5px;
	margin: 0 1%;
	width: 98%;
}
#product-list-holder > p.nothing {
	text-align: center;
	padding: 5px;
	font-size: 150%;
	margin-top: 20%;
}

div.spinner {
    position: absolute;
	width: 48px;
	height: 48px;
	top: 45%;
	left: 50%;
	background: url("/plugins/shopping/web/images/spinner.gif");
}
div.spinner.bg {
	background: url("/plugins/shopping/web/images/spinner_bg.gif");
}
.seotoaster .help a {
    color: #E7E7E7;
}