<td class="check-order textcentered"><input type="checkbox" name="check-order[]" value="<%= id %>" <% if (this.model.get('checked')) {%>checked="checked"<% }%> title=""/></td>
<td class="order-id"><%= id %></td>
<td><%= _.isNull(billing_address_id) ? shipping_firstname+' '+shipping_lastname : billing_firstname+' '+billing_lastname %></td>
<td><%= _.isNull(billing_address_id) ? shipping_email : billing_email%></td>
<td><%= $.datepicker.formatDate('dd-M-yy', new Date(Date.parse(created_at.replace(/\-/g, '/')))) %></td>
<% translatedStatus = 'cs_'+status %>

<% if (gateway == 'Quote' && status == 'pending'){ %>
    <% translatedStatus = 'New quote' %>
<% } %>

<% if (gateway == 'Quote' && status == 'processing'){ %>
    <% translatedStatus = 'Quote Sent' %>
<% } %>

<% if (gateway == 'Quote' && status == 'canceled'){ %>
    <% translatedStatus = 'Lost opportunity' %>
<% } %>
<% if (status === 'refunded') { %>
    <td class="status-change tooltip" title="<%= _.isUndefined(i18n['Original total']) ? 'Original total':i18n['Original total'] %> <%= _.isNull(originalTotal) ? total : originalTotal %>"><%= _.isUndefined(i18n[''+translatedStatus+''])?status:i18n[''+translatedStatus+''] %></td>
<% } else {%>
    <td class="status-change"><%= _.isUndefined(i18n[''+translatedStatus+''])?status:i18n[''+translatedStatus+''] %></td>
<% } %>

<td><%= total_products %></td>
<td><%= total %></td>
<td><%= _.isNull(shipping_price) ? '--' : shipping_price  %></td>
<td class="shipping-service">
    <p><%= _.isNull(shipping_service) ? 'n/a' : shipping_service+( _.isNull(shipping_type) ? '' : ': '+shipping_type ) %></p>
    <% if(_.isNull(recurring_id)) {%>
    <p><i><%= _.isUndefined(i18n['Tracking ID']) ? 'Tracking ID':i18n['Tracking ID'] %>:</i>&nbsp;<%= _.isNull(shipping_tracking_id) ? '' : shipping_tracking_id %>
<% if (status == 'completed' || status == 'shipped') { %>
        <% addButton = 'add' %>
        <% editButton = 'edit' %>
        <% if (!_.isUndefined(i18n['add'])){ %>
            <% addButton = i18n['add'] %>
        <% } %>
        <% if (!_.isUndefined(i18n['edit'])){ %>
            <% editButton = i18n['edit'] %>
        <% } %>
        <a href="javascript:;" class="setTracking">[&nbsp;<%= _.isNull(shipping_tracking_id) ? addButton : editButton %>&nbsp;]</a>
<% } %>
    </p>
    <% } %>
</td>
<td class="text-center">
    <a href="javascript:;" class="tpopup" data-pheight="560" data-url="<%= $('#website_url').val() %>plugin/shopping/run/order/id/<%= id %>"><%= _.isUndefined(i18n['view']) ? 'view':i18n['view'] %></a>
</td>
<% if(useInvoice == 'enabled') { %>
    <td class="text-center">
    <% if(_.isNull(recurring_id)) { %>
        <a href="javascript:;" class="ticon-email4 icon16 sendInvoice" title="Send invoice to user via email">Send</a> /
        <a target="_blank" href="<%= $('#website_url').val() %>plugin/invoicetopdf/run/createPdfInvoice/cartId/<%= id %>/dwn/0/">
            <img src="<%= $('#website_url').val() %>system/images/widgets/search.png" alt="<%= _.isUndefined(i18n['View invoice']) ? 'View invoice':i18n['View invoice'] %>" title="<%= _.isUndefined(i18n['View invoice']) ? 'View invoice':i18n['View invoice'] %>"/>
        </a>/
        <a href="<%= $('#website_url').val() %>plugin/invoicetopdf/run/createPdfInvoice/cartId/<%= id %>/dwn/1/">
            <img src="<%= $('#website_url').val() %>system/images/download.png" alt="<%= _.isUndefined(i18n['Download invoice']) ? 'Download invoice':i18n['Download invoice'] %>" title="<%= _.isUndefined(i18n['Download invoice']) ? 'Download invoice':i18n['Download invoice'] %>"/>
        </a>
        <a target="_blank" href="<%= $('#website_url').val() %>plugin/invoicetopdf/run/createPdfInvoice/cartId/<%= id %>/dwn/0/packing/1/">
            <img src="<%= $('#website_url').val() %>system/images/widgets/search.png" alt="<%= _.isUndefined(i18n['View packing slip']) ? 'View packing slip':i18n['View packing slip'] %>" title="<%= _.isUndefined(i18n['View packing slip']) ? 'View packing slip':i18n['View packing slip'] %>"/>
        </a>/
        <a href="<%= $('#website_url').val() %>plugin/invoicetopdf/run/createPdfInvoice/cartId/<%= id %>/dwn/1/packing/1/">
            <img src="<%= $('#website_url').val() %>system/images/download.png" alt="<%= _.isUndefined(i18n['Download packing slip']) ? 'Download packing slip':i18n['Download packing slip'] %>" title="<%= _.isUndefined(i18n['Download packing slip']) ? 'Download packing slip':i18n['Download packing slip'] %>"/>
        </a>
    <% } %>
    </td>
<% } %>
  <td><% if(!_.isNull(real_order_id)) { %>
        <%= _.isUndefined(i18n['Imported']) ? 'Imported':i18n['Imported'] %>
      <% } else if(!_.isNull(recurring_id)) { %>
        <%= _.isUndefined(i18n['Recurring']) ? 'Recurring':i18n['Recurring'] %>
      <% } else { %>
        <%= _.isUndefined(i18n['Regular']) ? 'Regular':i18n['Regular'] %>
      <% } %>
  </td>

