<div class="clearfix" style="width: 100%"
     title="<%= _.isUndefined(i18n['Shipment availability dates']) ? 'Shipment availability dates':i18n['Shipment availability dates'] %> <%= _.isUndefined(i18n['for order']) ? 'for order':i18n['for order'] %> #<%= orderId %>">
    <input type="hidden" id="shipment-label-order-id" value="<%= orderId %>" />
    <% availabilityDays = shippingAvailabilityDays %>
    <div class="grid_4">
        <div id="availability-days-datepicker"></div>
        <div id="availability-shipment-time-<%= orderId %>"></div>
    </div>
    <input type="hidden" name="shipment-availability-result" id="shipment-availability-result-<%= orderId %>" value="">
    <div id="shipment-availability-summary-<%= orderId %>" class="shipment-availability-summary grid_8">
        <h3 class="title"><%= _.isUndefined(i18n['Summary of delivery']) ? 'Summary of delivery':i18n['Summary of delivery'] %></h3>
        <div class="grid_6">
            <p><%= _.isUndefined(i18n['Date']) ? 'Date':i18n['Date'] %> <span class="shipment-availability-date-summary"></span></p>
            <p><%= _.isUndefined(i18n['Order']) ? 'Order':i18n['Order'] %> #<%= orderId %></p>
        </div>
        <div class="grid_6">
            <p><%= _.isUndefined(i18n['Time']) ? 'Time':i18n['Time'] %> <span class="shipment-availability-time-summary"></span></p>
            <p><%= _.isUndefined(i18n['Shipment price']) ? 'Shipment price':i18n['Shipment price'] %> <%= accounting.formatMoney(availabilityDays.shippingPrice, moneyFormat) %></p>
        </div>
    </div>
</div>

