<div class="clearfix" style="width: 100%"
     title="<%= _.isUndefined(i18n['Shipment availability dates']) ? 'Shipment availability dates':i18n['Shipment availability dates'] %> <%= _.isUndefined(i18n['for order']) ? 'for order':i18n['for order'] %> #<%= orderId %>">
    <input type="hidden" id="shipment-label-order-id" value="<%= orderId %>" />
    <% availabilityDays = shippingAvailabilityDays %>
    <div class="grid_2">
        <div id="availability-days-datepicker"></div>
        <div id="availability-shipment-time-<%= orderId %>"></div>
    </div>
    <input type="hidden" name="shipment-availability-result" id="shipment-availability-result-<%= orderId %>" value="">
    <div id="shipment-availability-summary-<%= orderId %>" class="shipment-availability-summary grid_10">
        <h3 class="title"><%= _.isUndefined(i18n['Summary of delivery']) ? 'Summary of delivery':i18n['Summary of delivery'] %></h3>
        <div class="grid_6 alpha"><%= _.isUndefined(i18n['Date']) ? 'Date':i18n['Date'] %> <span class="shipment-availability-date-summary"></span></div>
        <div class="grid_6 omega"><%= _.isUndefined(i18n['Order']) ? 'Order':i18n['Order'] %> <span>#<%= orderId %></span></div>
        <div class="grid_6 alpha"><%= _.isUndefined(i18n['Time']) ? 'Time':i18n['Time'] %> <span class="shipment-availability-time-summary"></span></div>
        <% if (shippingTaxRate != 0) { %>
            <% shippingPriceWithTax = parseFloat(availabilityDays.shippingPrice) + parseFloat(order.get('shipping_tax')) %>
            <% console.log(shippingPriceWithTax) %>
        <% } %>
        <div class="grid_6 omega"><%= _.isUndefined(i18n['Shipment price']) ? 'Shipment price':i18n['Shipment price'] %> <span><%= accounting.formatMoney(shippingPriceWithTax, moneyFormat) %></span>
            <% if (shippingTaxRate != 0) { %>
                <%= _.isUndefined(i18n['Include Tax']) ? 'Include Tax':i18n['Include Tax'] %>.
                <%= accounting.formatMoney(order.get('shipping_tax'), moneyFormat) %>
            <% } %>
        </div>
     </div>
</div>

