<div id="tracking-dialog" class="clearfix" style="width: 110%" title="<%=  _.isUndefined(i18n['Insert tracking code for this order'])?'Insert tracking code for this order':i18n['Insert tracking code for this order'] %>">
    <% ordId = orderId%>
    <% _.each(defaultSelection, function(n, v){
        selection = v;
    })%>
    <form id="tracking-code-form" method="post">
        <select name="choose-service" id="marketing-services" class="grid_5 alpha fl-left" style="float:none;">
        <% _.each(data, function(name, value){%>
            <% if (shippingTrackingCodeId) {%>
                <option value="<%= value %>" <%= (value == shippingTrackingCodeId ? 'selected' : '') %>><%= name %></option>
            <% } else if (selection === name) { %>
                <option value="<%= value %>" selected><%= name %></option>
            <% } else {%>
                <option value="<%= value %>"><%= name %></option>
            <% } %>
        <%})%>
        </select>
        <input type="text" name="shippingTrackingId" id="shippingTrackingId" value="<%= (trackingName) ? trackingName : '' %>" class="grid_7 alpha fl-right">
        <button class="btn green ticon-checkmark save-data" style="margin-top: 10px;" type="submit" title="save"><%=  _.isUndefined(i18n['Save'])?'Save':i18n['Save'] %></button>
    </form>
</div>
