<div title="<%= _.isUndefined(i18n['Assign brand']) ? 'Assign brand':i18n['Assign brand'] %>">
    <select name="brands">
        <option value="-1" disabled="disabled" selected="selected"><%= _.isUndefined(i18n['select brand']) ? 'select brand':i18n['select brand'] %></option>
        <% _.each(brands, function(brand){ %>
        <option value="<%= brand.name %>" ><%= brand.name %></option>
        <% }); %>
    </select>
    <input name="newbrand" type="text" placeholder="<%= _.isUndefined(i18n['or create new']) ? 'or create new':i18n['or create new'] %>" />
    <% if (totalProducts) { %>
    <!--<hr />-->
    <!--<label>-->
        <!--<input type="checkbox" name="applyToAll"><%= _.isUndefined(i18n['Apply to all']) ? 'Apply to all':i18n['Apply to all'] %> <%= totalProducts %> &nbsp;<%= _.isUndefined(i18n['products']) ? 'products':i18n['products'] %>-->
    <!--</label>-->
    <% } %>
</div>