<div title="<%= _.isUndefined(i18n['Assign free shipping']) ? 'Assign free shipping':i18n['Assign free shipping'] %>">
    <select name="freeShipping">
        <option value="-1" disabled="disabled" selected="selected"><%= _.isUndefined(i18n['select']) ? 'select':i18n['select'] %></option>
        <option value="0" ><%= _.isUndefined(i18n['no free shipping']) ? 'no free shipping':i18n['no free shipping'] %></option>
        <option value="1" ><%= _.isUndefined(i18n['free shipping']) ? 'free shipping':i18n['free shipping'] %></option>
    </select>
    <% if (totalProducts) { %>
    <!--<hr />-->
    <!--<label>-->
        <!--<input type="checkbox" name="applyToAll"> <%= _.isUndefined(i18n['Apply to all']) ? 'Apply to all':i18n['Apply to all'] %> <%= totalProducts %> <%= _.isUndefined(i18n['products']) ? 'products':i18n['products'] %>-->
    <!--</label>-->
    <% } %>
</div>