<td><input type="checkbox" value="<%= id %>" <% if (this.model.get('checked')) {%>checked="checked"<% }%> /></td>
<td class="editable text-left" data-prop="name">
    <a href="javascript:;" title="Click to open editor" class="tpopup" data-url="<%= $('#website_url').val() %>plugin/shopping/run/product/id/<%= id%>"><%= name %></a>
</td>
<td><%= brand %></td>
<td class="editable " data-prop="sku"><%= sku %></td>
<td class="editable" data-prop="mpn"><%= mpn %></td>
<% if (freeShipping == '0' || _.isNull(freeShipping)){%>
    <td><%= _.isUndefined(i18n['no']) ? 'no':i18n['no'] %></td>
<% } %>
<% if (freeShipping == '1'){%>
    <td><%= _.isUndefined(i18n['yes']) ? 'yes':i18n['yes'] %></td>
<% } %>
<td class="editable" data-prop="weight"><%= weight %></td>
<td class="editable" data-prop="price"><%=accounting.formatMoney(price , currency) %></td>
<td class="textcentered">
<% if (this.model.has('stats')) {%>
    <% if (stats.length) {%>
    <%= _.isUndefined(i18n['Total']) ? 'Total':i18n['Total'] %>: <%= _.reduce(_.pluck(_.filter(stats, function(elem){return elem.status != "new"}), 'count'),function(m, n){ return m+parseInt(n)}, 0) %>
    <ul>
    <% _.each(stats, function(stat) { %>
        <% translatedStatus = 'cs_'+stat.status %>
        <li><strong><%= _.isUndefined(i18n[''+translatedStatus+''])?status:i18n[''+translatedStatus+''] %></strong>: <%= stat.count %></li> <% }); %>
    </ul>
    <% } else {%>
    n/a
    <% } %>
<% } else { %>
<img src="<%= $('#website_url').val() %>plugins/shopping/web/images/spinner_16.gif" alt="loading" />
<% } %>
</td>