<div class="clearfix" style="width: 100%" title="Assign tax">
    <label>Select tax category:</label>
    <select name="taxes" >
        <option value="0">Non taxable</option>
        <option value="1">Default</option>
        <option value="2">Alternative</option>
        <option value="3">Alternative 2</option>
    </select>
    <% if (totalProducts) { %>
    <hr />
    <label>
        <input type="checkbox" name="applyToAll"> Apply to all <%= totalProducts %> products
    </label>
    <% } %>
</div>